html {
        box-sizing: border-box;
        background: #ffc600;
        font-family: 'helvetica neue';
        font-size: 20px;
        font-weight: 200;
        
    }
    #logo {
        width: 80px;
        height: auto; 
        position: absolute;
        top: 10px; /* Adjust as needed */
        left: 10px; /* Adjust as needed */
        z-index: 1000; /* Ensure it appears above other elements */
    }

    body {
        margin: 0;
    }
    body :hover {
        cursor: pointer;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .panels {
        min-height: 100vh;
        overflow: hidden;
        display: flex;
    }

    .panel {
        text-align: center;
        align-items: center;
        /* Safari transitionend event.propertyName === flex */
        /* Chrome + FF transitionend event.propertyName === flex-grow */
        transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
        font-size: 20px;
        background-size: cover;
        background-position: center;
        flex: 1;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .panel1 { background-image: url('../bilder/parmesan.jpg'); }
        .panel2 { background-image:url('../bilder/dressing.jpg'); }
    .panel3 { background-image:url('../bilder/kyckling.jpg'); }
    .panel4 { background-image:url('../bilder/salad.jpg'); }
    .panel5 { background-image:url('../bilder/krutonger.jpg'); }

    /* Flex Items */
    .panel > * {
        margin: 0;
        width: 100%;
        transition: transform 0.5s;
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .panel > *:first-child { transform: translateY(-100%); }
    .panel.open-active > *:first-child { transform: translateY(0); }
    .panel > *:last-child { transform: translateY(100%); }
    .panel.open-active > *:last-child { transform: translateY(0); }

    .panel p {
        text-transform: uppercase;
        font-family: 'Amatic SC', cursive;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
        font-size: 2em;
        color: white;
    }

    .panel p:nth-child(2) {
        font-size: 4em;
    }

    .panel.open {
        flex: 5;
        font-size: 40px;
    }
    /* ------------------Footer----------------- */
    .footer {
        margin: 0;
        padding: 40px 0;
        box-sizing: border-box;
        background-color: #153F59;
    }
    .footer :hoover {
        cursor: progress;
    }

    .footer .socialmedia {
        text-align: center;
        padding-bottom: 25px;
        color: black;
    }

    .footer .socialmedia a {
        font-size: 24px;
        color: inherit;
        border: 1px solid black;
        width: 40px;
        height: 40px;
        line-height: 38px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin: 0 8px;
        opacity: 0.75;
    }

    .footer .socialmedia a:hover {
        opacity: 20;
    }

    .footer ul {
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
    }

    .footer ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
    }

    .footer ul li {
        display: inline-block;
        padding: 0 15px;
    }

    .footer ul li a:hover {
        opacity: 1;
        color: blue;
    }

    .footer .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
    }

    @media only screen and (max-width: 600px) {
        .panel p {
        font-size: 1em;
        }
    }